@page
@model MockupWeb.Pages.db.import.UploadModel
@{
}
Hello upload
<div>
    <a asp-page="./dl">Download ./dl</a>
</div>
<div>
    <a asp-page="dl">Download dl</a>
</div>
<div>
    <a asp-page="/db/import/dl">Download /db/import/dl</a>
</div>
<div>
    <a asp-page="/db/import/none">Download none</a>
</div>