@using Microsoft.Extensions.Options
@using Sorling.SqlConnAuthWeb.razor
@inject IOptionsMonitor<SqlAuthUIOptions> UIOptions
@inject OptionsVersionProvider VersionProvider
@{
    var theme = UIOptions.CurrentValue;
}
<!DOCTYPE html>
<html data-bs-theme="auto" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/_content/sorling.sqlconnauthweb/css/custom-theme.css" asp-append-version="true" />
    <sql-auth-themeswitcher-css />
    <sql-auth-context-script />
</head>
<body>
    <sql-auth-themeswitcher-body />
    <div class="centered-container">
        @RenderBody()
    </div>
    <script src="~/_content/sorling.sqlconnauthweb/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/_content/sorling.sqlconnauthweb/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/_content/sorling.sqlconnauthweb/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <sql-auth-js-script />
    <sql-auth-themeswitcher-script />
</body>
</html>
