@page
@using Microsoft.AspNetCore.Razor.Hosting
@using Sorling.SqlConnAuthWeb
@attribute [RazorCompiledItemMetadata("RouteTemplate", SqlAuthConsts.URLROUTETEMPLATESELECTDB)]
@model Sorling.SqlConnAuthWeb.areas.sqlconnauth.pages.SelectDBModel

Select DB

<div asp-validation-summary="All" class="text-danger"></div>